
 /* Main container */
.container {
  width: 950px;
  margin: 0 auto;

}

.column {
  float: left;
}

/* header and footer*/
.header  { width: 950px;}
.footer { width: 950px;}

/* middle content box with left and right column*/
.mid  { width: 950px;}

/* Content Column*/
.content_column  { width: 500px;}

/* left and right Columns*/
.sidebar_left  { width: 175px;}
.sidebar_right { width: 175px;}

.prepend-0   { padding-left: 20px; } 
.prepend-1   { padding-left: 40px; }  
.prepend-2   { padding-left: 80px; } 
.prepend-3   { padding-left: 120px; } 
.prepend-4   { padding-left: 160px; } 

.append-1   { padding-right: 40px; }  
.append-2   { padding-right: 80px; } 
.append-3   { padding-right: 120px; }
